@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Sport Facilities Reservation System is a Web Application which allows you to reserve one of our facilities.
        Dates available to reserve are visible in the "Events" section. After sending reservation request
        our Administrator has to confirm your reservation. When he does so, you will be informed by sending a message.
        You can check messages from system in "My Messages" section. If you have any problem you can always contact us via email: 
        SportFacilitiesReservation@SFR.com</p>
    
</div>
