@model SportObjectsReservationSystem.Models.SportObject
 
@{
    ViewData["Title"] = "Create";
}
 
<h1>Create</h1>
 
<h4>SportObject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ObjectType" class="control-label"></label>
                <input asp-for="ObjectType" class="form-control" />
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <label asp-for="BuildingNumber" class="control-label"></label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="ObjectType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
<div>
    <a asp-action="Index">Back to List</a>
</div>