@model SportObjectsReservationSystem.Models.Reservation
 
@{
    ViewData["Title"] = "Details";
}
<h1>Reservation</h1>
 
<div>

        <br/><br/>
        <h4>Your Reservation has been successfully created. Now Admin has to accept it.<br/><br/><br/>
             <a asp-action="Index">Back to Events List</a></h4>
    
</div>