@model SportObjectsReservationSystem.Models.Reservation
 
@{
    ViewData["Title"] = "Edit";
}
 
<h1>Edit</h1>
 
<h4>SportObject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
               <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <label asp-for="IdDate" class="control-label"></label>
                <input asp-for="IdDate" class="form-control" />
                <label asp-for="Acceptance" class="control-label"></label>
                <input asp-for="Acceptance" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
<div>
    <a asp-action="Index">Back to List</a>
</div>